$icomoon-font-path: "fonts" !default;

$ams-ad-1: "\e900";
$ams-alarm: "\e901";
$ams-android: "\e902";
$ams-apple: "\e903";
$ams-apps: "\e904";
$ams-arrow-chevron-left: "\e905";
$ams-arrow-chevron-right: "\e906";
$ams-arrow-down-1: "\e907";
$ams-arrow-down-2: "\e908";
$ams-arrow-left-1: "\e909";
$ams-arrow-left-2: "\e90a";
$ams-arrow-right-1: "\e90b";
$ams-arrow-right-2: "\e90c";
$ams-arrow-up-1: "\e90d";
$ams-arrow-up-2: "\e90e";
$ams-attention: "\e90f";
$ams-backspace: "\e910";
$ams-battery: "\e911";
$ams-behance: "\e912";
$ams-bin: "\e913";
$ams-bluetooth: "\e914";
$ams-book: "\e915";
$ams-bookmark: "\e916";
$ams-box: "\e917";
$ams-burger-1: "\e918";
$ams-burger-2: "\e919";
$ams-calendar: "\e91a";
$ams-camera: "\e91b";
$ams-car: "\e91c";
$ams-card: "\e91d";
$ams-cards: "\e91e";
$ams-cards-2: "\e91f";
$ams-cast: "\e920";
$ams-chart: "\e921";
$ams-check: "\e922";
$ams-chemistry: "\e923";
$ams-clock: "\e924";
$ams-close: "\e925";
$ams-close-1: "\e926";
$ams-close-2: "\e927";
$ams-color-picker: "\e928";
$ams-command: "\e929";
$ams-crop: "\e92a";
$ams-crown: "\e92b";
$ams-dashboard: "\e92c";
$ams-delivery: "\e92d";
$ams-devices: "\e92e";
$ams-diagram: "\e92f";
$ams-diamond: "\e930";
$ams-download: "\e931";
$ams-dribbble: "\e932";
$ams-edit: "\e933";
$ams-edit-2: "\e934";
$ams-enlarge: "\e935";
$ams-error-1: "\e936";
$ams-eye: "\e937";
$ams-facebook: "\e938";
$ams-face-id: "\e939";
$ams-fb-messenger: "\e93a";
$ams-female: "\e93b";
$ams-filter: "\e93c";
$ams-fingerprint: "\e93d";
$ams-fitness: "\e93e";
$ams-flag: "\e93f";
$ams-flickr: "\e940";
$ams-flight: "\e941";
$ams-folder: "\e942";
$ams-foursquare: "\e943";
$ams-game-controller: "\e944";
$ams-gear-settings: "\e945";
$ams-ghost: "\e946";
$ams-github: "\e947";
$ams-globe: "\e948";
$ams-goblet: "\e949";
$ams-goggle-cardboard: "\e94a";
$ams-google: "\e94b";
$ams-hand-like: "\e94c";
$ams-headphone: "\e94d";
$ams-headphones: "\e94e";
$ams-home: "\e94f";
$ams-hot: "\e950";
$ams-hourglass: "\e951";
$ams-inbox: "\e952";
$ams-incognito: "\e953";
$ams-info: "\e954";
$ams-info-2: "\e955";
$ams-instagram: "\e956";
$ams-joystick: "\e957";
$ams-keyboard: "\e958";
$ams-lamp: "\e959";
$ams-like-heart: "\e95a";
$ams-link: "\e95b";
$ams-link-1: "\e95c";
$ams-link-2: "\e95d";
$ams-linkedin: "\e95e";
$ams-lock: "\e95f";
$ams-login: "\e960";
$ams-loguot: "\e961";
$ams-mail: "\e962";
$ams-Mail-mark: "\e963";
$ams-male: "\e964";
$ams-map: "\e965";
$ams-map-pin: "\e966";
$ams-media: "\e967";
$ams-megaphone: "\e968";
$ams-message: "\e969";
$ams-microphone: "\e96a";
$ams-mobile: "\e96b";
$ams-monitor: "\e96c";
$ams-mouse: "\e96d";
$ams-music: "\e96e";
$ams-newspaper: "\e96f";
$ams-new-window: "\e970";
$ams-notebook: "\e971";
$ams-notification-1: "\e972";
$ams-notification-2: "\e973";
$ams-notifications: "\e974";
$ams-office-box: "\e975";
$ams-ok.ru: "\e976";
$ams-palette: "\e977";
$ams-paper-plane: "\e978";
$ams-pen: "\e979";
$ams-percent: "\e97a";
$ams-periscope: "\e97b";
$ams-phone-1: "\e97c";
$ams-phone-2: "\e97d";
$ams-phone-3: "\e97e";
$ams-phone-4: "\e97f";
$ams-phone-5: "\e980";
$ams-picture: "\e981";
$ams-pin: "\e982";
$ams-pinterest: "\e983";
$ams-planet: "\e984";
$ams-play: "\e985";
$ams-playlist: "\e986";
$ams-plus-1: "\e987";
$ams-plus-2: "\e988";
$ams-pocket: "\e989";
$ams-pokemon: "\e98a";
$ams-portfolio: "\e98b";
$ams-power: "\e98c";
$ams-present: "\e98d";
$ams-printer: "\e98e";
$ams-radar: "\e98f";
$ams-record: "\e990";
$ams-reddit: "\e991";
$ams-reload: "\e992";
$ams-reload-2: "\e993";
$ams-repeat: "\e994";
$ams-repeat-2: "\e995";
$ams-rocket: "\e996";
$ams-route: "\e997";
$ams-route-2: "\e998";
$ams-rss: "\e999";
$ams-sale-1: "\e99a";
$ams-scan: "\e99b";
$ams-scissors: "\e99c";
$ams-screenshot: "\e99d";
$ams-search: "\e99e";
$ams-searching: "\e99f";
$ams-send: "\e9a0";
$ams-setting-2: "\e9a1";
$ams-settings-filter: "\e9a2";
$ams-share-1: "\e9a3";
$ams-shield: "\e9a4";
$ams-shop-bag: "\e9a5";
$ams-shop-cart-1: "\e9a6";
$ams-shop-check: "\e9a7";
$ams-shuffle: "\e9a8";
$ams-skype: "\e9a9";
$ams-slack: "\e9aa";
$ams-smartphone: "\e9ab";
$ams-smart-watch: "\e9ac";
$ams-snapchat: "\e9ad";
$ams-social-2: "\e9ae";
$ams-social-media: "\e9af";
$ams-social-share: "\e9b0";
$ams-social-share-2: "\e9b1";
$ams-soundcloud: "\e9b2";
$ams-sound-off: "\e9b3";
$ams-sound-on: "\e9b4";
$ams-spotify: "\e9b5";
$ams-star: "\e9b6";
$ams-sticker: "\e9b7";
$ams-suitcase: "\e9b8";
$ams-sun: "\e9b9";
$ams-tag: "\e9ba";
$ams-tap: "\e9bb";
$ams-target-1: "\e9bc";
$ams-target-2: "\e9bd";
$ams-text: "\e9be";
$ams-ticket: "\e9bf";
$ams-timer: "\e9c0";
$ams-timer-2: "\e9c1";
$ams-tumblr: "\e9c2";
$ams-tv: "\e9c3";
$ams-twitter: "\e9c4";
$ams-uber: "\e9c5";
$ams-ufo: "\e9c6";
$ams-upload: "\e9c7";
$ams-user: "\e9c8";
$ams-vector: "\e9c9";
$ams-video: "\e9ca";
$ams-video-camera: "\e9cb";
$ams-vimeo: "\e9cc";
$ams-vkontakte: "\e9cd";
$ams-wallet: "\e9ce";
$ams-whatsup: "\e9cf";
$ams-wi-fi: "\e9d0";
$ams-windows: "\e9d1";
$ams-youtube: "\e9d2";

