$icomoon-font-path: "fonts" !default;

$brnds-addthis: "\e900";
$brnds-adobeacrobatreader: "\e901";
$brnds-applemusic: "\e902";
$brnds-atom: "\e903";
$brnds-behance: "\e904";
$brnds-bitcoin: "\e905";
$brnds-bitly: "\e906";
$brnds-bootstrap: "\e907";
$brnds-buffer: "\e908";
$brnds-buzzfeed: "\e909";
$brnds-codeforces: "\e90a";
$brnds-codeigniter: "\e90b";
$brnds-codepen: "\e90c";
$brnds-coursera: "\e90d";
$brnds-css3: "\e90e";
$brnds-csswizardry: "\e90f";
$brnds-deezer: "\e910";
$brnds-discourse: "\e911";
$brnds-disqus: "\e912";
$brnds-dribbble: "\e913";
$brnds-dropbox: "\e914";
$brnds-facebook: "\e915";
$brnds-feedly: "\e916";
$brnds-flickr: "\e917";
$brnds-foursquare: "\e918";
$brnds-garmin: "\e919";
$brnds-ghost: "\e91a";
$brnds-github: "\e91b";
$brnds-gitlab: "\e91c";
$brnds-glassdoor: "\e91d";
$brnds-gmail: "\e91e";
$brnds-google: "\e91f";
$brnds-googleallo: "\e920";
$brnds-googleanalytics: "\e921";
$brnds-googlechrome: "\e922";
$brnds-googledrive: "\e923";
$brnds-googlehangouts: "\e924";
$brnds-googleplay: "\e925";
$brnds-googleplus: "\e926";
$brnds-html5: "\e927";
$brnds-instagram: "\e928";
$brnds-invision: "\e929";
$brnds-javascript: "\e92a";
$brnds-jquery: "\e92b";
$brnds-koding: "\e92c";
$brnds-lastfm: "\e92d";
$brnds-linkedin: "\e92e";
$brnds-macys: "\e92f";
$brnds-mailchimp: "\e930";
$brnds-mailru: "\e931";
$brnds-medium: "\e932";
$brnds-messenger: "\e933";
$brnds-microblog: "\e934";
$brnds-minutemailer: "\e935";
$brnds-monero: "\e936";
$brnds-monogram: "\e937";
$brnds-odnoklassniki: "\e938";
$brnds-onedrive: "\e939";
$brnds-opera: "\e93a";
$brnds-overcast: "\e93b";
$brnds-paypal: "\e93c";
$brnds-periscope: "\e93d";
$brnds-pinterest: "\e93e";
$brnds-pocket: "\e93f";
$brnds-react: "\e940";
$brnds-redux: "\e941";
$brnds-reverbnation: "\e942";
$brnds-salesforce: "\e943";
$brnds-sellfy: "\e944";
$brnds-shazam: "\e945";
$brnds-signal: "\e946";
$brnds-sitepoint: "\e947";
$brnds-skype: "\e948";
$brnds-slack: "\e949";
$brnds-slashdot: "\e94a";
$brnds-snapchat: "\e94b";
$brnds-sparkpost: "\e94c";
$brnds-spotify: "\e94d";
$brnds-telegram: "\e94e";
$brnds-tinder: "\e94f";
$brnds-toggl: "\e950";
$brnds-trello: "\e951";
$brnds-twilio: "\e952";
$brnds-twitch: "\e953";
$brnds-twitter: "\e954";
$brnds-twoo: "\e955";
$brnds-unsplash: "\e956";
$brnds-viber: "\e957";
$brnds-vimeo: "\e958";
$brnds-vine: "\e959";
$brnds-visa: "\e95a";
$brnds-vk: "\e95b";
$brnds-whatsapp: "\e95c";
$brnds-wheniwork: "\e95d";
$brnds-yandex: "\e95e";
$brnds-ycombinator: "\e95f";
$brnds-yelp: "\e960";
$brnds-youtube: "\e961";
$brnds-zapier: "\e962";
$brnds-zendesk: "\e963";

